<div class="container mt-5 mb-5">
  <h1> All our flats (<%= @flats.count %>)</h1>
</div>

<div class="container">
  <div class="box-flex">
    <% @flats.each do |flat| %>
    <div class="box-flat">
      <img class="main-flat-image" src="<%= flat.image %>">
      <div class="flat-info mb-2">
        <p><%= flat.name %></p>
        <p><%= flat.address %></p>
        <i class="fas fa-user-friends user-icon"><%= flat.number_of_guests %></i>
        <i class="fas fa-euro-sign user-icon"><%= flat.price_per_night %></i>
      </div>
      <div class="more-info">
        <%= link_to "More info", flat_path(flat), class: 'my-btn btn-more-info' %>
        <%= link_to "Edit", edit_flat_path(flat), class: 'my-btn btn-edit' %>
        <%= link_to "Remove", flat_path(flat), class: 'my-btn btn-remove' %>

      </div>
    </div>
      <% end %>
   </div>
</div>
