<div>

</div>

<h1>
  <%= @flats.name %>
</h1>
<p><%= @flats.address %></p>

<h3>A bit more about this flat</h3>
<p><%= @flats.description %></p>

<h3>Details</h3>
<p><%= @flats.number_of_guests %></p>
<p><%= @flats.price_per_night %></p>
